<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.cspCommon.mapper.ExerciseMapper">
    
    <resultMap type="Exercise" id="ExerciseResult">
        <result property="id"    column="id"    />
        <result property="exerciseTitle"    column="exercise_title"    />
        <result property="exerciseProgram"    column="exercise_program"    />
        <result property="parentId"    column="parent_id"    />
        <result property="choiceA"    column="choice_a"    />
        <result property="choiceB"    column="choice_b"    />
        <result property="choiceC"    column="choice_c"    />
        <result property="choiceD"    column="choice_d"    />
        <result property="correctAnswer"    column="correct_answer"    />
        <result property="analysis"    column="analysis"    />
        <result property="exerciseType"    column="exercise_type"    />
        <result property="quesType"    column="ques_type"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="score"    column="score"    />
        <result property="errorCounts"    column="error_counts"    />
    </resultMap>

    <sql id="selectExerciseVo">
        select id, exercise_title, exercise_program, choice_a, choice_b, choice_c, choice_d, correct_answer, analysis, exercise_type, ques_type, is_delete, create_by, create_time, update_by, update_time, remark from tb_exercises
    </sql>

    <select id="selectExerciseList" parameterType="Exercise" resultMap="ExerciseResult">
        <include refid="selectExerciseVo"/>
        <where>  
            <if test="exerciseTitle != null  and exerciseTitle != ''"> and exercise_title like concat('%', #{exerciseTitle}, '%')</if>
            <if test="exerciseProgram != null  and exerciseProgram != ''"> and exercise_program like concat('%', #{exerciseProgram}, '%')</if>
            <if test="remark != null  and remark != ''"> and remark like concat('%', #{remark}, '%')</if>
            <if test="exerciseType != null "> and exercise_type = #{exerciseType}</if>
            <if test="quesType != null "> and ques_type = #{quesType}</if>
            <if test="quesType == null"> and (ques_type = 1 or ques_type = 2 )</if>
             and is_delete = 0 and parent_id = -1
        </where>
    </select>

    <select id="selectErrorExerciseList" resultMap="ExerciseResult">
        select
            b.id, b.exercise_title, b.exercise_program, b.choice_a, b.choice_b, b.choice_c, b.choice_d, b.correct_answer, b.analysis, b.exercise_type, b.ques_type, b.remark,
            a.error_counts
        from tb_error_exercise a left join tb_exercises b on a.exercise_id = b.id
        <where>
            <if test="exerciseTitle != null  and exerciseTitle != ''"> and b.exercise_title like concat('%', #{exerciseTitle}, '%')</if>
            <if test="exerciseProgram != null  and exerciseProgram != ''"> and b.exercise_program like concat('%', #{exerciseProgram}, '%')</if>
            <if test="remark != null  and remark != ''"> and b.remark like concat('%', #{remark}, '%')</if>
            <if test="quesType != null "> and b.ques_type = #{quesType}</if>
            <if test="quesType == null"> and (b.ques_type = 1 or b.ques_type = 2 )</if>
            and a.is_delete = 0 and b.parent_id = -1 and a.user_id = #{userId}
        </where>
    </select>

    <select id="selectExerciseById" parameterType="Long" resultMap="ExerciseResult">
        <include refid="selectExerciseVo"/>
        where id = #{id}
    </select>

    <select id="selectExerciseByParentId" parameterType="Long" resultMap="ExerciseResult">
        <include refid="selectExerciseVo"/>
        where parent_id = #{parentId} and is_delete = 0
    </select>

    <select id="genExercise" parameterType="Integer" resultMap="ExerciseResult">
        <include refid="selectExerciseVo"/>
        where is_delete = 0 and ques_type = #{type} and parent_id = -1 order by rand() limit #{count};
    </select>

    <select id="getExerciseIds" parameterType="Integer" resultType="Integer" >
        select id from tb_exercises where is_delete = 0 and ques_type = #{type} and parent_id = -1;
    </select>

    <select id="getQuesCount" parameterType="Long" resultType="Integer" >
        select count(*) from tb_exercises where is_delete = 0 and parent_id = #{parentId};
    </select>

    <select id="getQuesIds" parameterType="Long" resultType="Long" >
        select id from tb_exercises where is_delete = 0 and parent_id = #{parentId};
    </select>

    <insert id="insertExercise" parameterType="Exercise" useGeneratedKeys="true" keyProperty="id">
        insert into tb_exercises
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="exerciseTitle != null">exercise_title,</if>
            <if test="exerciseProgram != null">exercise_program,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="choiceA != null">choice_a,</if>
            <if test="choiceB != null">choice_b,</if>
            <if test="choiceC != null">choice_c,</if>
            <if test="choiceD != null">choice_d,</if>
            <if test="correctAnswer != null">correct_answer,</if>
            <if test="analysis != null">analysis,</if>
            <if test="exerciseType != null">exercise_type,</if>
            <if test="quesType != null">ques_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            is_delete
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="exerciseTitle != null">#{exerciseTitle},</if>
            <if test="exerciseProgram != null">#{exerciseProgram},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="choiceA != null">#{choiceA},</if>
            <if test="choiceB != null">#{choiceB},</if>
            <if test="choiceC != null">#{choiceC},</if>
            <if test="choiceD != null">#{choiceD},</if>
            <if test="correctAnswer != null">#{correctAnswer},</if>
            <if test="analysis != null">#{analysis},</if>
            <if test="exerciseType != null">#{exerciseType},</if>
            <if test="quesType != null">#{quesType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            0
         </trim>
    </insert>

    <update id="updateExercise" parameterType="Exercise">
        update tb_exercises
        <trim prefix="SET" suffixOverrides=",">
            <if test="exerciseTitle != null">exercise_title = #{exerciseTitle},</if>
            <if test="exerciseProgram != null">exercise_program = #{exerciseProgram},</if>
            <if test="choiceA != null">choice_a = #{choiceA},</if>
            <if test="choiceB != null">choice_b = #{choiceB},</if>
            <if test="choiceC != null">choice_c = #{choiceC},</if>
            <if test="choiceD != null">choice_d = #{choiceD},</if>
            <if test="correctAnswer != null">correct_answer = #{correctAnswer},</if>
            <if test="analysis != null">analysis = #{analysis},</if>
            <if test="exerciseType != null">exercise_type = #{exerciseType},</if>
            <if test="quesType != null">ques_type = #{quesType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteExerciseById" parameterType="Long">
        update from tb_exercises set is_delete = 1 where id = #{id}
    </update>

    <update id="deleteExerciseByIds" parameterType="String">
        update tb_exercises set is_delete = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findPaperExerciseByType" resultMap="ExerciseResult">
        SELECT b.*, a.score
        FROM tb_paper_exercise a LEFT JOIN tb_exercises b on a.exercise_id = b.id
        where a.paper_id = #{paperId} and b.parent_id = -1 and b.ques_type = #{type}
    </select>

    <select id="genPractice" resultMap="ExerciseResult">
        <include refid="selectExerciseVo"/>
        <where>x
            <if test="type != -1 "> and ques_type = #{type}</if>
            and is_delete = 0 and parent_id = -1
        </where>
        order by rand() limit #{count};
    </select>

</mapper>