<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.csp.mapper.PaperExerciseMapper">

    <resultMap type="TbPaperExercise" id="TbPaperExerciseResult">
        <result property="id"    column="id"    />
        <result property="paperId"    column="paper_id"    />
        <result property="exerciseId"    column="exercise_id"    />
        <result property="score"    column="score"    />
    </resultMap>

    <sql id="selectTbPaperExerciseVo">
        select id, paper_id, exercise_id, score from tb_paper_exercise
    </sql>

    <select id="selectTbPaperExerciseListById" parameterType="TbPaperExercise" resultMap="TbPaperExerciseResult">
        <include refid="selectTbPaperExerciseVo"/>
        <where>
            <if test="paperId != null "> and paper_id = #{paperId}</if>
        </where>
    </select>








    <select id="selectTbPaperExerciseById" parameterType="Long" resultMap="TbPaperExerciseResult">
        <include refid="selectTbPaperExerciseVo"/>
        where id = #{id}
    </select>

    <insert id="insertTbPaperExercise" parameterType="TbPaperExercise" useGeneratedKeys="true" keyProperty="id">
        insert into tb_paper_exercise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paperId != null">paper_id,</if>
            <if test="exerciseId != null">exercise_id,</if>
            <if test="score != null">score,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paperId != null">#{paperId},</if>
            <if test="exerciseId != null">#{exerciseId},</if>
            <if test="score != null">#{score},</if>
        </trim>
    </insert>

    <update id="updateTbPaperExercise" parameterType="TbPaperExercise">
        update tb_paper_exercise
        <trim prefix="SET" suffixOverrides=",">
            <if test="paperId != null">paper_id = #{paperId},</if>
            <if test="exerciseId != null">exercise_id = #{exerciseId},</if>
            <if test="score != null">score = #{score},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbPaperExerciseById" parameterType="Long">
        delete from tb_paper_exercise where id = #{id}
    </delete>

    <delete id="deleteTbPaperExerciseByIds" parameterType="String">
        delete from tb_paper_exercise where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>